<link rel="stylesheet" type="text/css" href="/css/home.css">
<h1 id="heading">CSV Upload</h1>
<div id="home-page">
<div id="upload-file">
<form action="/upload-file" method="post" enctype="multipart/form-data">
    <div class="col" id="uploading-file">
        <input type="file" name="file" id="" placeholder="Profile Picture" class="form-control">
    </div>
    <div>
        <input type="submit" value="upload" class="btn btn-outline-primary" >
    </div>
</form>
</div>
<div id="all-files">
    <h4 id="files-heading">All Files</h4>
    <%if(allFiles.length==0) {%>
        <span class="total-files">Zero Files uploaded</span>
    <%} else {%>
        <span class="total-files">Total files uploaded: <%=allFiles.length%></span>
    <%}%>
    <ul id="file-list">
        <%for (let files of allFiles) {%>
        <li><div id="del-and-allfiles">
                <div>
                    <a href="/table/file-data/<%=files._id%>"><%=files.name%></a>
                </div>
                <div id="del-btn">
                    <a href="/del-file/<%=files._id%>"> <i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </li>
        <%}%>
    </ul>
</div>
</div>
