#home-page{
    border: 1px solid blue;
    width: 60vw;
    margin-left:20%;
    margin-top: 3%;
    padding-bottom: 2%;
    border-radius: 20px;
    color:rgb(9, 46, 77);
  /*  background-color: rgb(5, 39, 71);*/
}
#heading{
    margin-top: 3%;
    margin-left: 43%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(16, 91, 161);
}
#upload-file{
    border: 1px solid blue;
    border-radius: 10px;
    width: 30vw;
    margin-top: 4%;
    margin-left: 25%;
    text-align: center;
    
}
#uploading-file{
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: auto;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
    align-items: center;
   /* padding-left: 27%;   */ 
}

#all-files{
    border: 1px solid rgb(15, 80, 133);;
    border-radius: 10px;
    margin-top: 5%;
    width: 40vw;
    margin-left: 10vw;
    background-color: rgb(25, 75, 95);
    box-shadow: 3px 5px rgb(50, 118, 170);
    /*color: rgb(99, 157, 205);;*/
    color:rgb(94, 157, 209);

}
#files-heading{
    margin-left: 17vw;
    margin-top: 2%;
}
.total-files{
    margin-left: 5%;
    font-weight: 500;
    font-size: large;
}
#file-list{
    list-style: none;
    margin-top: 2%;
}
#del-btn{

    margin-right: 5%;
}
#del-and-allfiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#del-and-allfiles > div > a{
    text-decoration: none;
    color:rgb(94, 157, 209);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:0.9rem;
}
#del-and-allfiles > div > a:hover{
    color: rgb(74, 100, 136);
}