h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-top: 1%;
    margin-left: 43%;
    color: rgb(16, 91, 161);
}
#all-records-view{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(43, 124, 200);
}
#all-records-view > span{
    font-weight: 500;
    font-size: large;
}
#all-records-view > a{
    font-weight: 500;
    font-size: larger;
    border: 1px solid blue;
    width: 90px;
    height: 35px;
    padding-left: 22px;
    text-decoration: none;
    color: rgb(16, 91, 161);
    border-radius: 5px;
}
#all-records-view > a:hover{
    color: rgb(99, 174, 245);
}

.table{
    border-top: 1px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    
}

#table-row{
    font-size: 1.1rem;
    color: rgb(16, 91, 161);
    
}
#table-data{
    font-size: 0.9rem;
    color: rgb(73, 137, 198);
}